body {
    margin: 0;
    min-height: 100vh;
}

a {
    color: lightgray;
    text-decoration: none;
}

a:hover {
    color: orange;
}

.lobby-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 4rem 1fr 4rem;
    grid-template-columns: 1fr;
}

.header {
    grid-area: header;
    background-color: #0c0032;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
}

.main {
    grid-area: main;
    background-color: rgb(240, 240, 240);
    min-height: 82.2vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.footer {
    grid-area: footer;
    background-color: #0c0032;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgray;
}

.intro {
    flex: 1fr;
}

.form-container button,
.form-container input {
    border-radius: 0.5rem;
    height: 1.5rem;
}

.form-container button {
    cursor: pointer;
}

.available-rooms {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.available-rooms a {
    margin: 1rem;
    border: 0.1rem solid gray;
    border-radius: 0.5rem;
    padding: 1rem;
    color: black;
}

.available-rooms a:hover {
    background-color: whitesmoke;
    border-color: black;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.alert {
    color: red;
}